@import "./styles/card.css";
@import "./styles/hero.css";
@import "./styles/navbar.css";
@import "./styles/colors.css";

* {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--black);
}
